body{
    background-color: #fad5a26c;
}
h1{
text-align: center;

}

ul{
    display: inline-block;
    margin: 0 350px 0;
    border: 3px solid black;
    padding: 15px 30px 30px 60px;
}

ol{
    display: inline-block;
    border: 3px solid black;
    padding: 15px 30px 30px 60px;
    margin-left: 30px;
}



